<?xml version="1.0" encoding="UTF-8"?>
<!-- spawn the world -->
<launch>
    <arg name= "world" default="$(find progetto_esame)/worlds/building.world"/>
    <arg name="gui" default="true"/> 
    <arg name="debug" default="false"/> 
    <arg name="paused" default="true"/> 
    <arg name="use_sim_time" default="true"/> 
    <arg name="headless" default="false"/> 
    <arg name="model" default="$(find progetto_esame)/urdf/roomba.xacro"/>
    <arg name="rvizconfig" default="$(find progetto_esame)/rviz/my_robot.rviz" />

    <env name="GAZEBO_MODEL_PATH" value="$(find progetto_esame)/models:$(optenv GAZEBO_MODEL_PATH)" />

    <!-- Start up world-->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world)"/>
		<arg name="gui" value="$(arg gui)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="paused" value="$(arg paused)" />
        <arg name="use_sim_time" value="$(arg use_sim_time)" />
        <arg name="headless" value="$(arg headless)" />
    </include>
    

</launch>
